<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./partials/header') -%>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p> Go to <a href="page2"> Page 2 </a> </p>
  </body>
</html>
